body {
    background-color: #021D02;
}

/* from YUICSS list-core.css */
/*csslint adjoining-classes:false, outline-none:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/ 

.pure-skin-mine.pure-menu ul {
    position: absolute;
    visibility: hidden;
}

.pure-skin-mine.pure-menu.pure-menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.pure-skin-mine.pure-menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.pure-skin-mine.pure-menu > ul { position: relative; }

.pure-skin-mine.pure-menu-open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.pure-skin-mine.pure-menu-open > ul:focus {
    outline: none;
}

.pure-skin-mine.pure-menu li {
    position: relative;
}

.pure-skin-mine.pure-menu a, .pure-skin-mine.pure-menu.pure-menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 0.28em 1.4em;
    text-decoration: none;
    white-space: nowrap;
}

.pure-skin-mine.pure-menu.pure-menu-horizontal >.pure-menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}
.pure-skin-mine.pure-menu.pure-menu-horizontal > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    height: 2.4em;
}

.pure-skin-mine.pure-menu li a { padding: 0.28em 1.4em; }

.pure-skin-mine.pure-menu-can-have-children >.pure-menu-label:after {
    content: '\25B8';
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif; /* These specific fonts have the Unicode char we need. */
    margin-right: -20px;
    margin-top: -1px;
}

.pure-skin-mine.pure-menu-can-have-children >.pure-menu-label {
    padding-right: 30px;
}

.pure-skin-mine.pure-menu-separator {
    background-color: #0d330a;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.pure-skin-mine .pure-menu-hidden {
    display: none;
}

/* FIXED MENU */
.pure-skin-mine.pure-menu-fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}


/* HORIZONTAL MENU CODE */

/* Initial menus should be inline-block so that they are horizontal */
.pure-skin-mine.pure-menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

/* Submenus should still be display:block; */
.pure-skin-mine.pure-menu-horizontal li li {
    display: block;
}

/* Content after should be down arrow */
.pure-skin-mine.pure-menu-horizontal >.pure-menu-children >.pure-menu-can-have-children >.pure-menu-label:after {
    content: "\25BE";
}
/*Add extra padding to elements that have the arrow so that the hover looks nice */
.pure-skin-mine.pure-menu-horizontal >.pure-menu-children >.pure-menu-can-have-children >.pure-menu-label {
    padding-right:30px;
}

/* Adjusting separator for vertical menus */
.pure-skin-mine.pure-menu-horizontal li.pure-menu-separator {
    height: 50%;
    width: 1px;
    margin: 0 7px;
}

/* Submenus should be horizontal separator again */
.pure-skin-mine.pure-menu-horizontal li li.pure-menu-separator {
height: 1px;
width: auto;
margin: 7px 2px;
}


/* end from yuicss/list-core.css *******************************************/
/* from yuicss list-paginator.css */
/*csslint box-model:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/ 

.pure-skin-mine .pure-paginator {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pure-skin-mine .pure-paginator li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 -0.35em 0 0;
}
.pure-skin-mine .pure-paginator .pure-button {
    border-radius: 0;
    padding: 0.8em 1.4em;
    vertical-align: top;
    height: 1.1em;
}
.pure-skin-mine .pure-paginator .pure-button:focus {
    outline-style: none;
}
.pure-skin-mine .pure-paginator .prev, .pure-skin-mine .pure-paginator .next {
    /*color: #C0C1C3; allow .pure-button to color text*/
}
.pure-skin-mine .pure-paginator .prev {
    border-radius: 4px 0px 0px 4px;
}
.pure-skin-mine.pure-paginator.next {
    border-radius: 0px 4px 4px 0px;
}
/* end from YUICSS list-paginator.css ******************************/
/* from YUICSS list.css *******************************************/
/* MAIN MENU STYLING */
/*csslint adjoining-classes:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/ 

.pure-skin-mine.pure-menu.pure-menu-open,
.pure-skin-mine.pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: #10400d; /* Old browsers */
    border: 1px solid #0d330a;
}

/* remove borders for horizontal menus */
.pure-skin-mine.pure-menu.pure-menu-horizontal,
.pure-skin-mine.pure-menu.pure-menu-horizontal.pure-menu-heading {
    border: none;
}



/* LINK STYLES */

.pure-skin-mine.pure-menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;

}

.pure-skin-mine.pure-menu a,
.pure-skin-mine .pure-menu.pure-menu-can-have-children > li:after {
    color: #b3efaf;
}

.pure-skin-mine .pure-menu.pure-menu-can-have-children > li:hover:after {
    color: #b3efaf;
}

/* Focus style for a dropdown menu-item when the parent has been opened */
.pure-skin-mine.pure-menu.pure-menu-open {
    background: #0f3b0c;
}

/* HOVER STATES */
.pure-skin-mine.pure-menu li a:hover {
    background: #0f3b0c;
}

/* DISABLED STATES */
.pure-skin-mine.pure-menu li.pure-menu-disabled a:hover {
    background: #10400d;
    color: #26941e;
}

.pure-skin-mine.pure-menu.pure-menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.pure-skin-mine.pure-menu.pure-menu-disabled > a,
.pure-skin-mine.pure-menu.pure-menu-can-have-children.pure-menu-disabled > a:after {
    color: #26941e;
}

/* HEADINGS */
.pure-skin-mine.pure-menu.pure-menu-heading {
    color: #f7fdf7;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: 0.5em;
    border-bottom: solid 1px #0d330a;
}


/* SELECTED MENU ITEM */
.pure-skin-mine.pure-menu li.pure-menu-selected a {
    background-color: #15E506;
    color: #021401;
}

/* FIXED MENU */
.pure-skin-mine.pure-menu.pure-menu-open.pure-menu-fixed {
    border: none;
    border-bottom: 1px solid #0d330a;
}
/* end from YUICSS list.css ***********************************/
/* from YUICSS list-responsive.css ****************************/
/* RESPONSIVE */

@media (max-width: 480px) {

    .pure-skin-mine.pure-menu-horizontal {
        width:100%;
    }

    .pure-skin-mine.pure-menu-children li {
        display: block;
        border-bottom:1px solid #0d330a;
    }

}
/* end from list-responsive.css ******************/