<div id="itemEquipDetails">
	<div id="itemEquipDetailsImg">
	{{#if [model].image}}
	<img class="detailsImgEquip" src="./{{[model].image}}" />
	{{else}}
	<img class="detailsImgEquip" src="./images/armor.jpg" />
	{{/if}}
	</div>

	<div id="itemEquipDetailsInfo">
		<h1 class="info">{{[model].name}}</h1>
		<p class="info">Armor: {{[model].defense}}</p>
	</div>
</div>

<div id="itemEquipButton">
	{{#if [equipped]}}
	<button id="equipped">Equipped</button>
	{{else}}
	<button id="equips">Equip</button>
	{{/if}}
	<button id="equipBack">Back</button>
</div>
