	<div id="warriorInfo">
		<div id="warriorImg">
		{{#if localWarrior.image}}
 			<img class="avatar" src="./{{localWarrior.image}}"/>
 		{{else}}
 			<img class="avatar" src="./images/anonym.jpg"/>
		{{/if}}
		</div>
		<div id="warriorStats">
			<h1>{{localWarrior.nick}}</h1>
			<p>Level: {{localWarrior.level}}</p>
			<p>Coins: {{localWarrior.coins}} $</p>
			<p>XP: {{localWarrior.xp}} of {{toXP}}</p>
			<p>Life: <progress class="progress" max="100">ciao</progress></p>
		</div>
	</div>

	<div class="hqBar" id="hqBar">
		<ul id="menu-orizz">
			<li id="Stats" class="active"><a id="showStats" >Stats </a></li>
			<li id="Equip" class=""><a id="showEquip" >Equip </a></li>
			<li id="Score" class=""><a id="showScore" >Score </a></li>
		</ul>
	</div>

	<div id="hqContent">
		<div id="warriorResult">
			<h1>Score</h1>	
			<div id="kills">Kills {{localWarrior.kills}}</div>
			<div id="deaths">Deaths {{localWarrior.deaths}}</div>
		</div>

		<div id="warriorInfoStats">
			<h1>Base Stats</h1></br>
			<p>Attack: {{attack}}</p>
			<p>Range: {{range}}</p>
			<p>Armor: {{armor}}</p>
		</div>

	<div id="scores">
	</div>
	
</div>
