	<div id="warriorInfo">
		{{#if localWarrior.image}}
 			<img class="avatar" src="./{{localWarrior.image}}"/>
 		{{else}}
 			<img class="avatar" src="./images/anonym.jpg"/>
		{{/if}}

		<p>{{localWarrior.nick}}</p>
		<p>{{localWarrior.coins}} $</p>
		<p>Level: {{localWarrior.level}}</p>
		<img class="stars" src="./images/star.png"/>
	</div>

	<div class="hqBar" id="hqBar">
		<ul id="menu-orizz">
			<li id="Stats" class="active"><a id="showStats" >Stats </a></li>
			<li id="Equip" class=""><a id="showEquip" >Equip </a></li>
			<li id="Score" class=""><a id="showScore" >Score </a></li>
		</ul>
	</div>

	<div id="hqContent">
		
	
	<div id="kills">Kills {{localWarrior.kills}}</div>
	<div id="deaths">Deaths {{localWarrior.deaths}}</div>

	<div id="scores">
	</div>
	
</div>
