<div id="equipWarriorImage">
	<img src="./images/WarriorMod.png"/>
</div>
 <ul class="list__container" id="HeadQuarterEquipList">

 	<li id="hqEquipHead">
		<div id="infoItemEquip">
			<h1>{{[head].name}}</h1>
			<p>Defense: {{ [head].defense }}</p>
			<p>Range: {{ [head].range }}</p> 
		</div>
	</li>

	<li id="hqEquipWeap">
		<div id="infoItemEquip">
			<h1>{{[weapon].name}}</h1>
			<p>Attack: {{ [weapon].attack }}</p>
			<p>Range: {{ [weapon].range }}</p> 
		</div>
	</li>

	<li id="hqEquipArm">
		<div id="infoItemEquip">
			<h1>{{[armor].name}}</h1>
			<p>Defense: {{ [armor].defense }} </p>
		</div>
	</li>
 </ul>
