<div id="hqEquipWeap">
<p>{{[weapon].name}}</p>
<p>Range: {{ [weapon].range }} </p>
<p> Attack:  {{ [weapon].attack }}</p>
</div>

<div id="hqEquipHead">
<p>{{[head].name}}</p>
<p>Range: {{ [head].range }} </p>
<p> Attack:  {{ [head].defense }}</p>
</div>

<div id="hqEquipArm">
<p>{{[armor].name}}</p>
<p>Range: {{ [armor].defense }} </p>
</div>


!-- L'implementazione di questo template sarà totalmente diversa
perchè non ci serve più che carica i dati, ma dovrà dare all'utente
la possibilità di cambiare equipaggiamento scegliendo tra una lista --!