   <ul class="list__container" id="HeadQuarterEquipList">
    	<li id="hqEquipWeap">
    	<img class="imgEuip" src="./images/mirino.jpg"/>
		<h4>{{[weapon].name}}</h4>
		<h4>Range: {{ [weapon].range }} | Attack:  {{ [weapon].attack }}</h4>
		</li>

		<li id="hqEquipHead">
		<img class="imgEuip" src="./images/5013.gif"/>
		<h4>{{[head].name}}</h4>
		<h4> Defense:  {{ [head].defense }}</h4>
		</li>

		<li id="hqEquipArm">
		<img class="imgEuip" src="./images/shield.png"/>
		<h4>{{[armor].name}}</h4>
		<h4>Defense: {{ [armor].defense }} </h4>
		</li>
    </ul>
