<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="./lib/jquery/jquery.parse.js"></script>
    </head>
    <body>
        <div align="center" style="position:relative; top:15px;"><span style="color:#37FC1F; font-size:40pt; font-family:Agency FB">RealWar</span></div>
        	<div align="center" style="position:relative; top:90px">
            
            	<form class="login-form">
            		<input type="text" placeholder="username" id="login-username"></br>
            		<input type="password" placeholder="password" id="login-password">
            		<div align="center" style="position:relative; top:110px; ">
            			<button type="submit"> <img src="./images/Login Button.jpg" style="position: relative; width:inherit;"/> </button>    
        			</div>
				</form>
        	</div>
        <div align="center" style="position:relative; top:190px">
            <span style="color:green;">oppure</span></br>
            <img height="100px" weight="250px" src="./images/Facebook Login Button.png"></br>
            <span style="color:green;">Not yet a member?</span></br></br></br>
            <button id="regButton"><img src="./images/Arruolati Button.jpg"></button>
        </div>
    </body>
</html>
