<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="./lib/jquery/jquery.parse.js"></script>
    </head>
    <body>
        
        <div id="principal">
            <div align="center" style="position:relative; top:15px;"><span style="color:#37FC1F; font-size:40pt; font-family:Dungeon">RealWar</span>
                <input type="text" placeholder="username" class="login_input_form" id="login-username"></br>
                <input type="password" placeholder="password" class="login_input_form" id="login-password"> </br>

            <button class="login" id="login_input"><h3>Login</h3></button>

            <button class="reg_button" id="regButton"><h3>Arruolati</h3></button>
            </div>
        </div>
    </body>
</html>

