<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="./lib/jquery/jquery.parse.js"></script>

    </head>
    <body>
    <div id="mainTitle">
        <h1>RealWar</h1>
    </div>
        
    <div id="principal">
        <input type="text" placeholder="username" class="login_input_form" id="login-username">
        <input type="password" placeholder="password" class="login_input_form" id="login-password"> 

        <button class="login" id="login_input">Login</button>
        <button class="signin" id="regButton">Join The War</button>
        <button id="fbButton">Facebook Login</button>
    </div>
    </body>
</html>

