<!DOCTYPE html>
<html>
    <head>
        <title>RealWar</title>
    </head>
    <body>

        <div id="mainTitle">
        <h1>RealWar</h1>
        </div>
        
        <div id="signinMain">
                <h1>Signin</h1>
                <form class="reg-form">
                <input type="text" placeholder="username" class="reg_input_form" id="reg-username"></br>
                <input type="text" placeholder="email" class="reg_input_form" id="reg-email"></br>
                <input type="password" placeholder="password" class="reg_input_form" id="reg-password">
                
                </form>
                
                <button class="reg load_avatar_untouched" id="loadAvatar">Choose Avatar</button>
                
                <div id="avatar_scelta" style="display:none;">
                    <img class="avatar_img_s" src="./images/avatar/Avatar1.png">
                    <img class="avatar_img_s" src="./images/avatar/Avatar2.png">
                    <img class="avatar_img_s" src="./images/avatar/Avatar3.png">
                    <img class="avatar_img_s" src="./images/avatar/Avatar4.png">
                    <img class="avatar_img_s" src="./images/avatar/Avatar5.png">
                    <img class="avatar_img_s" src="./images/avatar/Avatar6.png">
                    <img class="avatar_img_s" src="./images/avatar/Avatar7.png">
                    <img class="avatar_img_s" src="./images/avatar/Avatar8.png">
                    <img class="avatar_img_s" src="./images/avatar/Avatar9.png">
                </div>

                <button class="login" id="registra">Join</button>
        </div>
        <div id="spinner_reg" style="display:none;">
        <h1 class="fontSpinner" align="center" >Loading...</h1>
        </div>
    </body>
</html>
