<div id="content">
     
   <div class="topcoat-navigation-bar">
		<div class="topcoat-navigation-bar__item left quarter">
			<button class="backButton" id="backButton"></button>
		</div>
		<div class="topcoat-navigation-bar__item center half">
			<h1 class="topcoat-navigation-bar__title">Header</h1>
		</div>
		<div class="topcoat-navigation-bar__item right quarter">
			<div class="settings"></div>
			</div>
		</div>
            
      	<div id="contents">
      	</div>
      	<div class="topcoat-tool-bar" id="toolbar">
  			<button id="headQuarterButton" ></button>
  			<button id="mapButton"></button>
  			<button id="marketButton"></button>
 		</div>
    </div>
</div>