      <!--  <div id="navigation">
      <ul id='navigationList'>
        <li class="navigationItem">Test 1</li>
        <li class="navigationItem">Test 2</li>
        <li class="navigationItem">Test 3</li>
      </ul>
    </div> -->
  <div id="content">
     
           <div class="topcoat-navigation-bar">
			<div class="topcoat-navigation-bar__item left quarter">
			<div class="back"></div>
			</div>
			<div class="topcoat-navigation-bar__item center half">
			<h1 class="topcoat-navigation-bar__title">Header</h1>
			</div>
			<div class="topcoat-navigation-bar__item right quarter">
			<div class="settings"></div>
			</div>
			</div>
            
      <div id="contents">
      </div>
      <div class="topcoat-tool-bar">
  <button class="barButton1" id="headQuarterButton" ></button>
  <button class="barButton2" id="mapButton" style="right:10px"></button>
  <button class="barButton3" id="marketButton" style="right:10px"></button>
 </div>
    </div>
