{{#if localWeapon.image}}
<img class="detailsImg" src="./{{localWeapon.image}}" />{{else}}
<img class="detailsImg" src="./images/gun.jpg" />{{/if}}
<p class="info" id="detailsName">{{name}}</p>

{{#if attack}}
<p class="info" id="detailsAttack">Att: {{attack}}</p>{{else}}
<p class="info" id="detailsDefense">Def: {{defense}}</p>{{/if}}

{{#if range}}
<p class="info" id="detailsRange">Range: {{range}} m</p>{{/if}}

<p class="info" id="detailsPrice">Price: {{cost}} $</p>

<div class="lineaorizzontale"></div>

<p class="info" id="detailsCash">Your Money: {{coins}} $</p>

<button class="topcoat-button" id="buyItem" style="display:none;">Buy Item</div>

<button class="topcoat-button" id="sellItem" style="display:none;">Sell Item</div>

<button class="topcoat-button" id="loadItem">Loading...</div>

<button class="topcoat-button" id="back">back</div>
