<div id="itemEquipDetails">
	<div id="itemEquipDetailsImg">
		{{#if [model].image}}
		<img class="detailsImgEquip" src="./{{[model].image}}" />
		{{else}}
		<img class="detailsImgEquip" src="./images/gun.jpg" />
		{{/if}}
	</div>

	<div id="itemEquipDetailsInfo">
		<h1>{{[model].name}}</h1>
		<p>Attack: {{[model].attack}}</p>
		<p>Range: {{[model].range}} m</p>
	</div>
</div>

<div id="itemEquipButton">
	{{#if [equipped]}}
	<button id="equipped">Equipped</button>
	{{else}}
	<button id="equips">Equip</button>
	{{/if}}
</div>
