<div class="shop-button-bar full">
    <div class="shop-button-bar__item">
        <button id="btnWpn" class="shop-button-bar__button full">Weapon</button>
    </div>
    <div class="shop-button-bar__item">
        <button id="btnHd" class="shop-button-bar__button full">Head</button>
    </div>
    <div class="shop-button-bar__item">
        <button id="btnArm" class="shop-button-bar__button full">Armor</button>
    </div>
</div>
<div id="weaponsmarketcontainer">
    <div id="wrapper">
        <div id="spinner">
            <div class="ball" ></div>
            <div class="ball1" ></div>
        </div>
        <ul class="list__container" id='weaponsmarket'></ul>
    </div>
</div>
