<div id="itemMarketDetails">
	<div id="itemMarketDetailsImg">
	{{#if localWeapon.image}}
	<img src="./{{localWeapon.image}}" />{{else}}
	<img src="./images/gun.jpg" />{{/if}}
	</div>

	<div id="itemMarketDetailsInfo">
		<h1 id="detailsName">{{name}}</h1>
		{{#if attack}}
		<p>Att: {{attack}}</p>{{else}}
		<p>Def: {{defense}}</p>{{/if}}
		{{#if range}}
		<p>Range: {{range}} m</p>{{/if}}
		<p>Price: {{cost}} $</p>
	</div>

	<div id="itemMarketBuy">

		<p class="info" id="detailsCash">Your Money: {{coins}} $</p>

		<button class="topcoat-button" id="back">Market</button>

		<button class="topcoat-button" id="buyItem" style="display:none;">Buy</button>

		<button class="topcoat-button" id="sellItem" style="display:none;">Sell</button>

		<button class="topcoat-button" id="loadItem">Loading...</button>

	</div>

</div>
