@font-face {
font-family:"Source Sans";
src:url(../font/SourceSansPro-Regular.otf);
font-family:"Dungeon";
src:url(../font/dungeon.ttf);
}

@font-face {
font-family:"Source Sans";
src:url(../font/SourceSansPro-Light.otf);
font-weight:200;
}

@font-face {
font-family:"Source Sans";
src:url(../font/SourceSansPro-Semibold.otf);
font-weight:600;
}

body {
margin:0;
padding:0;
background:rgb(0, 1, 0);
color:#000;
font:16px "Source Sans",helvetica,arial,sans-serif;
font-weight:200;
text-rendering:optimizeLegibility;
}

p {
margin-right: 17px;
margin-bottom: 8px;
margin-top: 16px;
text-align: right;
color: white;
font-family: Dungeon;
font-size: 20px;
}

#contents {
    /* */
    top: 45px;
    height: -webkit-calc(100% - 44px);
    width: 100%;
}

#map {
	position: absolute;
    height: 100%;
    width: 100%;
}

/* PROFILO DEL WARRIOR */

#headQuarter{

}

#warriorInfo{
z-index: 9;
top: 45px;
padding-top: 7px;
position: fixed;
background-color: black;
}

.avatar {
margin-left: 22px;
position: absolute;
height: 95px;
width: 90px;
border: 1px solid rgba(0,0,0,0.36);
-webkit-border-radius: 6px;
border-radius: 15px;
}

.stars {
width: 83%;
margin-bottom: 8px;
margin-left: 27px;
}

#hqContent{
width: 100%;
position: absolute;
top: 261px;
}

/* FINE PROFILO DEL WARRIOR */

#hqBar{
z-index: 9;
top: 229px;
position: fixed;
}

/* STATISTICHE */
@media screen and (max-width: 320px) {
#menu-orizz {
	font-family: Dungeon;
	text-align: center;
    font-size: 20px;
	color: white;
    margin: 0;
    padding: 0;
    list-style: none;
	}

#menu-orizz li {
    background-color: rgb(5, 31, 7);
    border-style: solid;
	border-left-style: double;
	border-right-style: double;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: rgb(47, 228, 59);
    display: block;
    width: 104px;
    height: 30px;
    margin: 0px;
    float: left; /* elementi su singola riga */
	}

#menu-orizz li.active, #menu-orizz li:hover {
    background-color: rgb(47, 228, 59);
	color:rgb(5, 30, 7);
    
	}
}

@media screen and (min-width: 360px) {
#menu-orizz {
	font-family: Dungeon;
	text-align: center;
    font-size: 20px;
	color: white;
    margin: 0;
    padding: 0;
    list-style: none;
	}

#menu-orizz li {
    background-color: rgb(5, 31, 7);
    border-style: solid;
	border-left-style: double;
	border-right-style: double;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: rgb(47, 228, 59);
    display: block;
    width: 118px;
    height: 30px;
    margin: 0px;
    float: left; /* elementi su singola riga */
	}

#menu-orizz li.active, #menu-orizz li:hover {
    background-color: rgb(47, 228, 59);
	color:rgb(5, 30, 7);
    
	}
}

#kills {
position: relative;
left: 6px;
top: 30px;
width: 115px;
height: 30px;
font-size: 20px;
text-align: center;
font-family: Dungeon;
color: rgb(47, 228, 59);
border-style: solid;
border-left-style: double;
border-right-style: double;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
border-bottom-width: 1px;
border-color: rgb(47, 228, 59);
background-color: rgb(3, 35, 5);
padding: 0.36em 0em 0.36em;
border-radius: 4px;
margin-bottom: 10px;
}

#deaths {
position: relative;
right: 6px;
float: right;
top: 30px;
width: 115px;
height: 30px;
font-size: 20px;
text-align: center;
font-family: Dungeon;
color: rgb(47, 228, 59);
border-style: solid;
border-left-style: double;
border-right-style: double;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
border-bottom-width: 1px;
border-color: rgb(47, 228, 59);
background-color: rgb(5, 11, 7);
padding: 0.36em 0em 0.36em;
border-radius: 4px;
margin-bottom: 10px;
}

/* FINE STATISTICHE */
