@font-face {
font-family:"Source Sans";
src:url(../font/SourceSansPro-Regular.otf);
font-family:"Dungeon";
src:url(../font/dungeon.ttf);
}

@font-face {
font-family:"Source Sans";
src:url(../font/SourceSansPro-Light.otf);
font-weight:200;
}

@font-face {
font-family:"Source Sans";
src:url(../font/SourceSansPro-Semibold.otf);
font-weight:600;
}

/* {
    -webkit-touch-callout: none;
    -webkit-user-select:none;
}*/

body {
margin:0;
padding:0;
background:rgb(0, 1, 0);
color:#000;
font:16px "Source Sans",helvetica,arial,sans-serif;
font-weight:200;
text-rendering:optimizeLegibility;
}

p {
margin-right: 17px;
margin-bottom: 8px;
margin-top: 16px;
text-align: right;
color: white;
font-family: Dungeon;
font-size: 20px;
}

#map {
    position: absolute;
    bottom: 0;
    top: 8%;
    height: 92%;
    width: 100%;
    overflow-y: hidden;
    /* -webkit-transform: rotateZ(0deg)
                rotateX(45deg); */
}

#fire{
    display: none;
    right: 40%;
    position: fixed;
    bottom: 0px;
    width: 66px;
}

@media screen and (max-width: 320px) {
.headQuarterButtonActive
{
    position: relative;
    width: 106px;
    height: 45px;
    border: none;
    background-color: #63ca3a;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/pentagonOn.png);
}
.headQuarterButton
{
    position: relative;
    width: 106px;
    height: 45px;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/pentagonOff.png);
}
.mapButton
{
    position: relative;
    width: 106px;
    height: 45px;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/mapOff.png);
}
.mapButtonActive
{
    position: relative;
    width: 106px;
    height: 45px;
    border: none;
    background-color: #63ca3a;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/mapOn.png);
}
.marketButton
{
    position: relative;
    width: 106px;
    height: 45px;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/gunOff.png);
}
.marketButtonActive
{
    position: relative;
    width: 106px;
    height: 45px;
    border: none;
    background-color: #63ca3a;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/gunOn.png);
    }
}

@media screen and (min-width: 360px) {
.headQuarterButtonActive
{
    position: relative;
    width: 120px;
    height: 45px;
    border: none;
    background-color: #63ca3a;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/pentagonOn.png);
}
.headQuarterButton
{
    position: relative;
    width: 120px;
    height: 45px;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/pentagonOff.png);
}
.mapButton
{
    position: relative;
    width: 120px;
    height: 45px;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/mapOff.png);
}
.mapButtonActive
{
    position: relative;
    width: 120px;
    height: 45px;
    border: none;
    background-color: #63ca3a;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/mapOn.png);
}
.marketButton
{
    position: relative;
    width: 120px;
    height: 45px;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/gunOff.png);
}
.marketButtonActive
{
    position: relative;
    width: 120px;
    height: 45px;
    border: none;
    background-color: #63ca3a;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    background-clip: border-box;
    background-image: url(../images/gunOn.png);
    }
}

.backButton
{
    position: absolute;
    width: 50px;
    height: 30px;
    top: 8px;
    left: 0px;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url(../images/back.png);
    background-size: contain;
    }


/* BARRA DELLA VITA*/

progress {
    width: 70%;
    height: 14px;    /* Important Thing */
    -webkit-appearance: none;
    border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
    background: black;
    border-radius: 20px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background:
        -webkit-linear-gradient(45deg, transparent, transparent 33%, #63ca3a 33%, #63ca3a 66%, transparent 66%),
        -webkit-linear-gradient(top, #63ca3a, #63ca3a),
        -webkit-linear-gradient(left, #ba7448, #c4672d);
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
    0% {background-position: 0px 0px, 0 0, 0 0}
    100% {background-position: -100px 0px, 0 0, 0 0}
}

/* PROFILO DEL WARRIOR */

#headQuarter{

}

#warriorInfo{
    width: 100%;
    height: 30%;
    z-index: 9;
    top: 45px;
    padding-top: 7px;
    position: fixed;
    background-color: black;
}

#warriorImg{
    float:left;
    width: 35%;
    height: 30%;
}

#warriorStats{
    display: inline;
    width: 65%;
    height: 30%;
}

#warriorStats h1{
    text-align: left;
    margin-left: 50%;
    font-size: 1.5em;
    padding: 0px;
    margin-bottom: 1px;
    margin-top: 10px;
    color: #63ca3a;
    font-family: Dungeon;
}

#warriorStats p{
    text-align: left;
    margin-left: 50%;
    font-size: 1em;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 2px;
    color: white;
}

.avatar {
top: 25px;
margin-left: 22px;
position: absolute;
height: 95px;
width: 90px;
border: 1px solid rgba(0,0,0,0.36);
-webkit-border-radius: 6px;
border-radius: 15px;
}

.smallAvatar{
    position: absolute;
    width: 20%;
    height: 95%;
    border: 1px solid rgba(0,0,0,0.36);
    -webkit-border-radius: 6px;
    border-radius: 6px;

}

.stars {
width: 83%;
margin-bottom: 8px;
margin-left: 27px;
}

#hqContent{
width: 100%;
position: absolute;
top: 261px;
}

/* FINE PROFILO DEL WARRIOR */

#hqBar{
z-index: 9;
top: 229px;
position: fixed;
}

/* STATISTICHE */
@media screen and (max-width: 320px) {
#menu-orizz {
    font-family: Dungeon;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    }

#menu-orizz li {
    background-color: rgb(5, 31, 7);
    border-style: solid;
    border-left-style: double;
    border-right-style: double;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rgb(47, 228, 59);
    display: block;
    width: 104px;
    height: 30px;
    margin: 0px;
    float: left; /* elementi su singola riga */
    }

#menu-orizz li.active, #menu-orizz li:hover {
    background-color: rgb(47, 228, 59);
    color:rgb(5, 30, 7);
    
    }
}

@media screen and (min-width: 360px) {
#menu-orizz {
    font-family: Dungeon;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    }

#menu-orizz li {
    background-color: rgb(5, 31, 7);
    border-style: solid;
    border-left-style: double;
    border-right-style: double;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rgb(47, 228, 59);
    display: block;
    width: 118px;
    height: 30px;
    margin: 0px;
    float: left; /* elementi su singola riga */
    }

#menu-orizz li.active, #menu-orizz li:hover {
    background-color: rgb(47, 228, 59);
    color:rgb(5, 30, 7);
    
    }
}

#kills {
position: absolute;
left: 6px;
top: 30px;
width: 115px;
height: 30px;
font-size: 20px;
text-align: center;
font-family: Dungeon;
color: rgb(47, 228, 59);
border-style: solid;
border-left-style: double;
border-right-style: double;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
border-bottom-width: 1px;
border-color: rgb(47, 228, 59);
background-color: rgb(3, 35, 5);
padding: 0.36em 0em 0.36em;
border-radius: 4px;
margin-bottom: 10px;
}

#deaths {
position: absolute;
right: 6px;
top: 30px;
width: 115px;
height: 30px;
font-size: 20px;
text-align: center;
font-family: Dungeon;
color: rgb(47, 228, 59);
border-style: solid;
border-left-style: double;
border-right-style: double;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
border-bottom-width: 1px;
border-color: rgb(47, 228, 59);
background-color: rgb(5, 11, 7);
padding: 0.36em 0em 0.36em;
border-radius: 4px;
margin-bottom: 10px;
}

/* EQUIPAGGIAMENTO WARRIOR */

h4 {
    font-family: Dungeon;
    color: white;
    text-align: right;
    padding-top: 0px;
    margin-top: 0px;
}

.imgEuip{
    position: absolute;
    width: 4em;
}

#HeadQuarterEquipList{
    /*position: absolute;
    top: 261px;
    width: 100%;*/
    padding-bottom: 46px; /*
    right: 10px;
    left: 10px;
    align-content: center;
    width: 300px;
    padding-left: 0px; parte che non serve più */
} 

#HeadQuarterEquipList li {
    padding: 1rem;
    border-style: solid;
    /*border-left-style: double;*/
   /*border-right-style: double;*/
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: rgb(47, 228, 59);
    display: block;
    height: 60px;
}

/* FINE EQUIPAGGIAMENTO WARRIOR */

/* FINE STATISTICHE */

/* MARKET */

.list__container {
    padding:0;
    margin:0;
    font:inherit;
    color:inherit;
    background:transparent;
    border:0;
    cursor:default;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    border-top:1px solid rgb(47, 228, 59);
    border-bottom:1px solid rgb(47, 228, 59);
    overflow-y: hidden;
}

#weaponsmarket{
    position: absolute;
    top: 80px;
    width: 100%;
    padding-bottom: 46px; /*
    right: 10px;
    left: 10px;
    align-content: center;
    width: 300px;
    padding-left: 0px; parte che non serve più */
} 

#weaponsmarket li {
    padding: 1rem;
    border-style: solid;
    /*border-left-style: double;*/
   /*border-right-style: double;*/
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: rgb(47, 228, 59);
    display: block;
    height: 90px;
}

.weaponsInfo {
    height: inherit;
    padding-top: 1px;
}

.info {
    
    margin-right: 17px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: right;
    color: white;
    font-family: Dungeon;
    font-size: 16px;
}

.avatarWeap {
    /*margin-left: 22px;
    margin-top: 2%;*/
    position: absolute;
    height: 75px;
    width: 85px;
    border: 1px solid rgba(0,0,0,0.36);
    -webkit-border-radius: 6px;
    border-radius: 15px;
}

/* BOTTONI DI SELEZIONE */

.full {
  width: 100%;
}

.shop-button-bar {
      top: 45px;
      z-index: 10;
      position: fixed;
      display: table;
      table-layout: fixed;
      white-space: no-wrap;
      margin: 0;
      padding: 0;
}

.shop-button-bar__item {
  display: table-cell;
  width: auto;
  border-radius: 0;
}

.shop-button-bar__item:first-child > .shop-button-bar__button {
  border-right: none;
  background-color: #20A715;
  color: #051E07;
}

.shop-button-bar__item:last-child > .shop-button-bar__button {
  border-left: none;
}

.shop-button-bar__button {
  margin: 0;
  border: 1px solid #2FE43B;
  /* Important inheritance to manipulate border radius from parent */
  border-radius: inherit;
  background-color: rgb(5, 31, 7);
  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
  color: white;
  font-family: Dungeon;
  font-size: 18px;
  text-align: center;
  /*text-shadow: 0 1px #fff;*/
  line-height: 2rem;
}

.shop-button-bar__button,
.shop-button-bar__button:active,
.shop-button-bar__button.is-active {
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
  
}
/*
.shop-button-bar__item:disabled,
.shop-button-bar__item.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}*/

.shop-button-bar__button:focus {
  background-color: #20A715;
  color: #051E07;
}

/* FINE BOTTONI DI SELEZIONE */

#adDetails{
    top: 81px;
    position: absolute;
    width: 100%;
}

.detailsImg{
    left: 1em;
    position: relative;
    top: 1em;
}

#buyItem{
    position: absolute;
    right: 1em;
    top: 18em;
    border-right: none;
    background-color: #20A715;
    color: #051E07;
}

#sellItem{
    position: absolute;
    right: 1em;
    top: 18em;
    border-right: none;
    background-color: #20A715;
    color: #051E07;
}

#loadItem{
    position: absolute;
    right: 1em;
    top: 18em;
    border-right: none;
    background-color: grey;
    color: #051E07;
}


#equips{
    position: absolute;
    right: 1em;
    top: 18em;
    border-right: none;
    background-color: #20A715;
    color: #051E07;
}

#equipped{
    position: absolute;
    right: 1em;
    top: 18em;
    border-right: none;
}

#equippedl{
    float:left;
    background-color: #20A715;
    color: #051E07;
}

#back{
    position: absolute;
    left: 1em;
    top: 18em;
    border-right: none;
    background-color: #20A715;
    color: #051E07;
}

#detailsName{
    position: absolute;
    top: 1em;
    right: 1em;
}

#detailsAttack{
    position: absolute;
    top: 3em;
    right: 1em;
}

#detailsDefense{
    position: absolute;
    top: 3em;
    right: 1em;
}

#detailsRange{
    position: absolute;
    top: 5em;
    right: 1em;
}

#detailsPrice{
    position: absolute;
    top: 7em;
    right: 1em;
}

.lineaorizzontale {
    width: 232px;
    height: 1px;
    background-color: rgb(15, 236, 24);
    border-bottom: 1px solid #04CA33;
    text-align: center;
    margin-left: 45px;
    margin-top: 24px;
}

/* FINE MARKET */

/* EQUIPMENT */

#weaponslist{
    position: absolute;
    top: 80px;
    width: 100%;
    padding-bottom: 46px; /*
    right: 10px;
    left: 10px;
    align-content: center;
    width: 300px;
    padding-left: 0px; parte che non serve più */
} 

#weaponslist li {
    padding: 1rem;
    border-style: solid;
    /*border-left-style: double;*/
   /*border-right-style: double;*/
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: rgb(47, 228, 59);
    display: block;
    height: 60px;
}


/* FINE EQUIPMENT */

#spinner{
    top: 50%;
    margin: 0px;
    margin-top: 50%;
}

#spinner2{
    top: 50%;
    margin: 0px;
    margin-top: 50%;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}

/*Elementi della mappa*/

.leaflet-control-attribution{
    display: none;
}

#popupWarrior{

    width: 99%;
    height: 11%;
    z-index: 20;
    position:fixed;
    display: block;
    bottom: 0px;
    border: 1px solid #63ca3a;
    background:rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    display: none;
}

#avatarWarrior{
    width: 20%;
    height: 95%;
    margin-left: 1px;
    float: left;

}

#infoWarrior{
    width: 45%;
    height: 95%;
    margin-left: 2px;
    float: left;

}

#infoWarrior p{
    text-align: left;
    font-size: 1.5em;
    padding: 0px;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 0px;
}

#fightButton{
    width: 30%;
    height: 95%;
    margin-left: 5px;
    float: left;

}

#fight{
    width: 95%;
    height: 90%;
    margin-top: 5%;
    margin-left: 7%;
    font-size: 20px;
    text-align: center;
    font-family: Dungeon;
    color: rgb(47, 228, 59);
    border-style: solid;
    border-left-style: double;
    border-right-style: double;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rgb(47, 228, 59);
    border-radius: 4px;
    background-color: rgb(3, 35, 5);
    opacity: 1;
}

#fight:hover{
    color: rgb(3, 35, 5);
    background-color: rgb(47, 228, 59);
    border-color: rgb(3, 35, 5);
}

#infoFight{

    width: 90%;
    height: 65%;
    z-index: 20;
    position:fixed;
    display: block;
    margin-left: 4%;
    bottom: 20%;
    border: 2px solid #63ca3a;
    background:rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    font-family: Dungeon;
    display: none;

}

#infoResult{
    width: 90%;
    height: 15%;
    position:fixed; 
    bottom: 70%;
    float: center;
}

#infoResult h1{
    text-align: center;
    font-size: 2em;
    margin-top: 2%;
    margin-bottom: 0px;
    color: #63ca3a;
}

#infoResult h2{
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    margin-bottom: 0px;
    color: #63ca3a;
}

#infoResult p{
    text-align: center;
    font-size: 1em;
    margin-top: 2%;
    margin-bottom: 0px;
    color: white;
}

#infoRound{
    width: 80%;
    height: 30%;
    position:fixed; 
    display: block; 
    bottom: 29%;
    margin-left: 4.5%;
    border: 1px solid #63ca3a;
}

#infoRound h1{
    text-align: center;
    font-size: 1.2em;
    padding: 0px;
    margin-top: 1%;
    margin-bottom: 0px;
    color: white;
}

#infoRound p{
    text-align: left;
    font-size: 0.8em;
    padding: 0px;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 0px;
    color: white;
}

#backToMap{
    width: 30%;
    height: 8%;
    position:fixed; 
    display: block; 
    bottom: 21%;
    margin-left: 29.5%;
}

#toMap{
    width: 95%;
    height: 90%;
    margin-top: 5%;
    margin-left: 7%;
    font-size: 20px;
    text-align: center;
    font-family: Dungeon;
    color: rgb(47, 228, 59);
    border-style: solid;
    border-left-style: double;
    border-right-style: double;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rgb(47, 228, 59);
    border-radius: 4px;
    background-color: rgb(3, 35, 5);
    opacity: 1;
}

#toMap:hover{
    color: rgb(3, 35, 5);
    background-color: rgb(47, 228, 59);
    border-color: rgb(3, 35, 5);
}

#previousRound{
    width: 25%;
    height: 4%;
    position:fixed; 
    display: block; 
    bottom: 31%;
    margin-left: 1%;
    font-size: 1em;
    text-align: center;
    font-family: Dungeon;
    color: rgb(47, 228, 59);
    border-style: solid;
    border-left-style: double;
    border-right-style: double;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rgb(47, 228, 59);
    border-radius: 4px;
    background-color: rgb(3, 35, 5);
    opacity: 1;
}

#previousRound:hover{
    color: rgb(3, 35, 5);
    background-color: rgb(47, 228, 59);
    border-color: rgb(3, 35, 5);
}

#nextRound{
    width: 25%;
    height: 4%;
    position:fixed; 
    display: block; 
    bottom: 31%;
    left: 63%;
    font-size: 1em;
    text-align: center;
    font-family: Dungeon;
    color: rgb(47, 228, 59);
    border-style: solid;
    border-left-style: double;
    border-right-style: double;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rgb(47, 228, 59);
    border-radius: 4px;
    background-color: rgb(3, 35, 5);
    opacity: 1;
}

#nextRound:hover{
    color: rgb(3, 35, 5);
    background-color: rgb(47, 228, 59);
    border-color: rgb(3, 35, 5);
}

/* SETTINGS */

#loadAvatar {
    position: relative;
    top: 10px;
    background-color: green;
}

#avatar_scelta {
    position: relative;
    top: 20px;
}

.avatar_img_s {
    width: 25%;
    border-radius: 20px;
    border: 3px solid;
}

.avatar_img_sel {
    border: 3px solid blue;
}



#settings {
    position: relative;
    top: 80px;
}

.settings_button {
    position: relative;
    top: 10px;
    border: 3px solid green;
    background-color: black;
    height: 40px;
    width: 100%;
    color: green;
}

.settings_button h3 {
    position: relative;
    top: -6px;
}

.change {
    position: relative;
    top: 3px;
    height: 40px;
    width: 33%;
    background-color: black;
    left: 33%;
}

.change h3 {
    color:green;
    position: relative;
    top: -5px;
}

#change_username_input, #change_password_input, #change_email_input {
    position: relative;
    height: 40px;
    width: 70%;
    left: 15%;
}

/* FINE SETTINGS */

/* LOGIN */

.login {
    position: relative;
    top: 100px;
    height: 50px;
    width: 100%;
    background-color: black;
}

.login h3 {
    color:#63ca3a;
    position: relative;
    top: -5px;
}

.login_input_form {
    position: relative;
    top: 80px;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #E0FFFF;
}

#login_form {
    position: relative;
    top: 5%;
}

#login_button_div {
    position: relative;
    top: 5%;
}

.reg_button {
    position: relative;
    top: 150px;
    height: 50px;
    width: 100%;
    background-color: black;
}

.reg_button h3 {
    color:#63ca3a;
    position: relative;
    top: -5px;
}

/* FINE LOGIN */

/* REGISTRAZIONE */


/* FINE REGISTRAZIONE */